<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>欢迎进入登录页面</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body>
<div class="main">
    <div class="header clearfix">
        <div class="content-header">
            <div class="header-right">
                <a href="javascript:;">登陆</a>
                <a href="javascript:;">注册</a>
            </div>
        </div>
    </div>
    <div class="main-con clearfix">
        <div class="clearfix" style="margin-top: 7%;margin-bottom:2%;">
            <div class="right">
                <div class="lg-gorm">
                    <h3>用户登录</h3>
                    <h3 th:text="${msg}" style="color: cadetblue"/>
                    <form method="post" action="login">
                        <div class="lg-input">
                            <label><i class="layui-icon layui-icon-user"></i></label>
                            <input  type="text" name="name" placeholder="用户名" autocomplete="off"/>
                        </div>
                        <div class="lg-input">
                            <label><i class="layui-icon layui-icon-password"></i></label>
                            <input id="password" type="password" name="password" placeholder="密码" autocomplete="off"/>
                        </div>
                        <div class="lg-submit">
                        <input type="submit" value="登录" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>